body{
    background: #fff;
}

*{margin: 0%;
    padding: 0%;}
    
    header{display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #31326F;
       
    }
    
    .logo{color: white;
    font-size: 40px;
    margin-left: 50px;}
    
    .btn{margin-right: 50px;
    padding: 10px 20px 10px 20px;}
    
    .navbar{
    margin-top: 10px;}
    
    .navbar a{color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;}
    footer
        {

            position: relative;
            background: #282727;
            color:#eee;
            padding-top: 50px;
            height: auto;
            width: 98vw;
        }
        footer .copyright{ 
        font-size: 1rem; 
        text-align: center; 
        font-weight: lighter; 
        letter-spacing: .1rem; 
        color: #eee;
        border-top: .1rem solid rgba(255,255,255,.7); 

        padding: 1rem 1rem; 
        
        } 
        footer .copyright .add{ 
            color: #ff7720;
        }
        .logo{color: #eee;;
            font-size: 25px;
            margin-left: 50px;
        }
        